hidden {
  display: none;
}

.buttons-container {
  position: absolute;
  top: -650px;

  }

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
  }

.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
  }

.button:active {
    transform: translateY(2px);
  }

.button:focus {
    outline: none;
  }

.movebutton {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #D5CD60;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
  }

.movebutton:hover {
    background-color: #A09A45;
    transform: translateY(-2px);
  }

.movebutton:active {
    transform: translateY(2px);
  }

.movebutton:focus {
    outline: none;
  }

#game-container {
    position: relative;
    margin-bottom: 30px;
  }

.button-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }